{% load static %}
{% load i18n %}

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">

            <div class="col-lg-12 col-md-6">
                <div class="row gx-5">
                    <div class="col-lg-4 col-md-12 pt-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0">{% trans "Contact" %}</h3>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-geo-alt text-primary me-2"></i>
                            <p class="mb-0">{% trans "Koson, Kashkadaryo, Uzbekistan" %}</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-envelope-open text-primary me-2"></i>
                            <p class="mb-0">sales@bunyodkortex.com</p>
                        </div>
                        <div class="d-flex mb-2">
                            <i class="bi bi-telephone text-primary me-2"></i>
                            <p class="mb-0">+998 55 401-11-11</p>
                        </div>
                        <div class="d-flex mt-2">
                            <a class="btn btn-primary btn-square me-2" href="https://t.me/Industrial_Technopark"><i class="fab fa-telegram fw-normal"></i></a>
                            <a class="btn btn-primary btn-square me-2" href="https://www.facebook.com/profile.php?id=61576729328615"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square me-2" href="https://www.instagram.com/bunyodkor.industrial_texnopark?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram fw-normal"></i></a>
                            <a class="btn btn-primary btn-square me-2" href="https://www.youtube.com/@Bunyodkor-Textile"><i class="fab fa-youtube fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 pt-0 pt-lg-5 mb-5">
                        <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="text-light mb-0">{% trans "Quick Links" %}</h3>
                        </div>
                        <div class="link-animated d-flex flex-column justify-content-start">
                            <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans "Home" %}</a>
                            <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans "About Technopark" %}</a>
                            <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans "Infrastructure" %}</a>
                            <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans "Projects" %}</a>
                            <a class="text-light mb-2" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans "Residents" %}</a>
                            <a class="text-light" href="#"><i class="bi bi-arrow-right text-primary me-2"></i>{% trans "Vacancies" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-white" style="background: #061429;">
    <div class="container text-center">
        <div class="row justify-content-end">
            <div class="col-lg-12 col-md-6">
                <div class="d-flex align-items-center justify-content-center" style="height: 75px;">
                    <p class="mb-0">&copy; 2026 BUNYODKOR Industrial Technopark
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
