{% extends 'core/base.html' %}
{% load i18n %}

{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-header py-5 location-header">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">{% trans "Our Location" %}</h1>
            <p class="text-white mb-0">{% trans "Find us easily on the map" %}</p>
        </div>
    </div>
</div>


<!-- Location Info Start -->
<div class="container py-5">
    <div class="row g-5">

        <!-- Text Info -->
        <div class="col-lg-5">
            <div class="section-title position-relative pb-3 mb-4">
                <h5 class="fw-bold text-primary text-uppercase">{% trans "Location" %}</h5>
                <h1 class="mb-0">{% trans "Bunyodkor Industrial Technopark" %}</h1>
            </div>

            <p>{% trans "Our technopark is located in Koson district, Kashkadarya region, Uzbekistan. It is designed to support industrial production, investment projects, and export-oriented businesses." %}</p>

            <div class="d-flex mb-3">
                <i class="fa fa-map-marker-alt text-primary me-3 mt-1"></i>
                <p class="mb-0">{% trans "Koson, Kashkadarya, Uzbekistan" %}</p>
            </div>

            <div class="d-flex mb-3">
                <i class="fa fa-phone-alt text-primary me-3 mt-1"></i>
                <p class="mb-0">+998 90 997 88 88</p>
            </div>

            <div class="d-flex mb-3">
                <i class="fa fa-envelope-open text-primary me-3 mt-1"></i>
                <p class="mb-0">sales@bunyodkortex.com</p>
            </div>
        </div>

        <!-- Map -->
        <div class="col-lg-7">
            <div class="w-100 h-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1139.6955506692584!2d65.60803264449548!3d39.05737130680871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2s!4v1776491249037!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>
</div>
<!-- Location End -->


{% endblock %}